<div class="jumbotron" style="background-color: #fffd98;background-origin:content-box;">
    <div class="container" align="center">
        <% if (success) { %>
        <div class="alert alert-success">
            <%= success %>
            <a href="#" class="close" data-dismiss="alert">&times;</a>
        </div>
        <% } %>
        <% if (error) { %>
        <div class="alert alert-warning">
            <%= error %>
            <a href="#" class="close" data-dismiss="alert">&times;</a>
        </div>
        <% } %>
        <h1 align="left" style="color: #ff0000 ;display: inline"><%= title %></h1>
        <h4>--未来属于那些相信梦想之美的人</h4>

        <p>赶紧加入吧！</p>
        <% if (!user) { %>
        <button class="btn btn-success" style="width: 100px" data-toggle="modal" data-target="#loginPanel">sign in
        </button>
        <button class="btn btn-primary" onclick="index.signup()">sign up</button>
        <% } else { %>
        欢迎您  <%= user.username %>,
        <a href='/user/detail/<%= user.username %>'>个人中心</a>
        <a class="btn btn-link" href="/signout">退出</a>
        <% if(user.username == 'hsp') { %>
        <a href='/product/productList'>套餐管理</a>
        <% } %>
        <% } %>
    </div>
</div>
<br/>
<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <a href="/product/productDetail/zhongtuo"> <img src="/image/bg1.jpg"
                                                                alt="通用的占位符缩略图" align="center"></a>

                <div class="carousel-caption">
                    <h2><span style="color: #ff0000">中托</span></h2>

                    <h3><span style="color: #ff0000">套餐内容：中午上下学接送、午餐、午休、作业辅导;</span></h3>
                </div>
            </div>
            <div class="item">
                <a href="/product/productDetail/wutuo"><img src="/image/bg2.jpg"
                                                            alt="通用的占位符缩略图"></a>

                <div class="carousel-caption">
                    <h2><span style="color: #ff0000">午托</span></h2>

                    <h3><span style="color: #ff0000">套餐内容：中午上下学接送、下午放学至旁晚6点前、午餐、午休、作业辅导；</span></h3>
                </div>
            </div>
            <div class="item">
                <a href="/product/productDetail/wuwantuo"><img src="/image/bg3.jpg"
                                                               alt="通用的占位符缩略图"></a>

                <div class="carousel-caption">
                    <h2><span style="color: #ff0000">午晚托</span></h2>

                    <h3><span style="color: #ff0000">套餐内容：中午上下学接送、下午放学至晚上8点、午餐、晚餐、午休、作业辅导；</span></h3>
                </div>
            </div>
            <div class="item">
                <a href="/product/productDetail/wantuo"><img src="/image/bg4.jpg"
                                                             alt="通用的占位符缩略图"></a>

                <div class="carousel-caption">
                    <h2><span style="color: #ff0000">晚托</span></h2>

                    <h3><span style="color: #ff0000">套餐内容：下午放学至晚上8点、晚餐、作业辅导；</span></h3>
                </div>
            </div>
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="carousel-control left" href="#myCarousel"
           data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel"
           data-slide="next">&rsaquo;</a>
    </div>
</div>


<div id="loginPanel" class="modal fade" role="dialog" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="modal-title">
                    登录
                </div>
            </div>
            <div class="modal-body">
                <form role="form" id="loginForm" action="/login" method="post">
                    <div class="form-group">
                        <label for="username">账号：</label>
                        <input id="username" name="username" class="form-control" type="text" placeholder="账号">
                    </div>
                    <div class="form-group">
                        <label for="password">密码：</label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="密码">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" id="submit" onclick="index.login()">
                    登录
                </button>
            </div>
        </div>
    </div>
</div>
<script src="/javascript/index.js"></script>


